body{
    background-color: white;
}
.hidden{
    display: none;
}
.div2{
    width: 40px;
    height: 30px;
}


  .palette-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  .color-box {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }